[Unit]
Description=Apache Tomcat Web Application Container {{ Server_Root }}
After=syslog.target network.target

[Service]
User=tomcat
Group=tomcat
Type=forking
ExecStart=/etc/{{ Server_Root }}/bin/catalina.sh start
ExecStop=/etc/{{ Server_Root }}/bin/catalina.sh stop
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

