<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta name="robots" content="NONE"> 
        <link type="text/css" rel="stylesheet" href="/css/common.css?20150628" >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>エラー画面</title>
    </head>
    <body>
        <div>
            <table border="0" style="width:100%">
                <col style="width:150px" >
                <col style="width:85%" >
                <col style="width:15%" >
                <tr>
                    <td align="left" colspan="1" rowspan="2"><img src= "/images/cardnet_logo.gif" alt="logo"></td>
                    <td align="right" colspan="1">　</td>
                </tr>
                <tr>
                    <td class="header_title" align="center" colspan="1">Ｊｍａｎａｇｅｒ</td>
                    <td class="header" align="right" colspan="1">
                        エラー画面
                    </td>                </tr>
            </table>
            <br>
        </div>

        <div>
            <span class="mrk">■</span>エラー画面
        </div>

        <table width="100%" style="background: #FEE;">
            <tr>
                <td valign="top">
                    <div class="title-nav" style="background: #F55;">
                        <span>サーバエラー</span>
                    </div>
                    <div class="error">
                        <div class="add_hr"><ul><li>サーバエラーが発生しました。システム管理者に連絡してください。</li></ul></div>
                    </div>
                    <div class="error message_area"></div>
                </td>
            </tr>
        </table>
        <div style="text-align:right">
            Copyright 2014, JAPAN CARD NETWORK Co.,Ltd
        </div>
    </body>
</html>

